# Installed modules
.yarn/*
!.yarn/plugins
!.yarn/sdks
!.yarn/releases
.pnp.*
node_modules

# Log files
npm-debug.log
yarn-error.log

# Private configuration
config.json
.minecraft/

# Editor configuration
.vscode/
.idea/